/* Global */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #000;
  color: #fff;
}

/* Header */
.header {
  background: #111;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid yellow;
}

.logo {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: yellow;
}

.active-link {
  color: yellow !important;
}